body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(201, 199, 199);
    
}



#foto{
    border-radius: 50px;
    max-width: 180px;
    max-height: 180px;
    display: flex; 
    
}

#cajaFoto{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 15px;
    background-color:rgb(156, 156, 156);
    align-items: center;

}

#cajaPersonalTitulo{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
#Nombre{
    font-size: 40px;
    font-weight: bold;
}

#Profesion{
    font-size: 35px;
    color: rgb(54, 54, 54);
}


#cajaSegundaFila{
    display: flex;
    flex-direction: row;
    padding: 5px;
    
    background-color: rgb(201, 199, 199);
    justify-content: space-evenly ;
    padding-top: 20px;

}

#cajaInfoPersonal{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(194, 194, 194);
    margin: 10px
    
    

    /* justify-content: center; */
}

.grandesCajas{
    margin: 10px;
}


#cajaExperiencia{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(194, 194, 194);
}


#redesSociales{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
   
}

.fotosRedes{
    margin: 7px;
}
#linkedin{
    height: 35px; 
    padding-bottom: 8px;
}

#github{
    width: 70px; 
    height: 40px; 
    padding-bottom: 3px;
}

#twitter{
    height: 45px; 
    width: 45px; 
    padding-top: 2px;
}

.fotosPeque{
    
    width: 15px;
    height: 15px;
}

.divisores{
    padding: 2px;
    margin: 2px;
    border-bottom: solid black 2px;
    padding-bottom: 5px;

}

#formacion{
    padding-top: 5px;
}

#listaFormacion{
    list-style-type: disc ;


}
#listaInteres{
    list-style-type: square;
}

.elementoLista{

    padding-bottom: 5px;
}

#informacionInteres{
    border: none;
}

#listaLaboral{
    list-style-type: circle;
}

#divisorInvestigaciones{
    border: none;
}

#cajaTerceraFila{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mapas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lineaMapa{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.mapas{
    max-width: 600px;
    max-height: 800px;
    border: solid 1.5px black;
}



#boton{
    background-color: rgb(155, 155, 155);
    color: black;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 200px;
    align-self: center;
    margin-bottom: 25px;
}

@media (max-width: 1240px){
    .lineaMapa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mapas{
        margin: 5px;
    }
}

@media(max-width: 1000px){
    #cajaFoto{
        flex-direction: column;
    }
    .divisores{
        padding: 30px;
    }
    #id{
        font-size: 45px;
    }
    #foto{
        max-width: 200px;
        max-height: 200px;

    }
    #Profesion{
        font-size: 55px;
    }
    #redesSociales{
        flex-direction: row;
    }
    
    #linkedin{
        max-width: 1000px;

    }

    #cajaSegundaFila{
        flex-direction: column;
    }
    #cajaInfoPersonal{
        align-items: left;
        margin: 20px ;
    }
    #cajaExperiencia{
        align-items: left;
        margin: 20px ;
    }
    body{
        font-size:xx-large;
    }
    h3{
        font-size: 50px;
    }
    h6{
        font-size: 35px;
    }
    h1{
        font-size: 65px;
        align-self: center;

    }
    #boton{
        max-width: 300px;
    }
    .mapas{
        max-width: 700px;
        max-height: 500px;
        margin: 25px;
    }
}